extends ../_layout

block content
  .about-top( data-waypoint-index=0 )
  h1
    .container Procedures / Smoothing Body Peel Treatment
  .container
    .left-procedures-container
      h3.p-header About the procedure
      p This treatment is formulated with potent, but safe, ingredients that target melanin to even discoloration while smoothing and brightening the skin. Smoothing body peel combines TCA, lactic acid and salicylic acid to induce dramatic changes in the skin’s appearance and texture. It is an excellent choice for treating rough, dehydrated, sun-damaged or acneic skin on the arms, legs, back, chest, hands and feet.