extends ../_layout

block content
  .about-top( data-waypoint-index=0 )
  h1
    .container Procedures / Chemical Peels
  .procedures-slide-show-container
    .container
      ul.slide-show
        li.active
          .img-container
            img.large( src='/images/procedures/chemical-peels/patient.jpg' )
            .caption Actual PCA Peel Patient
  .container
    .left-procedures-container
      h3.p-header( data-waypoint-index=1 ) About the procedure
      p These peels, designed specifically for your skin type, will work by revealing healthy and glowing skin. Peels allow dead skin to slough off, leaving behind a layer of smooth, softer skin. Peels work to unclog pores, treat acne, decrease sun damage, fine lines, and wrinkles and pigment irregularities.
      p 
        strong SkinMedica Illuminize Peel: 
        | for mild skin imperfections
      p 
        strong SkinMedica Vitalize Peel: 
        | for mild to moderate skin imperfections
      p
        strong SkinMedica Rejuvenize Peel: 
        | for moderate to severe skin imperfections
      p
       strong PCA Blended Peels