extends ../_layout

block content
  .about-top( data-waypoint-index=0 )
  h1
    .container Procedures / Cosmelan De-pigmentation Mask
  .container
    .left-procedures-container
      h3.p-header( data-waypoint-index=1 ) About the procedure
      p Cosmelan, a treatment for moderate to severe pigmentation issues, works to reduce the appearance of skin discoloration brought on by hormonal imbalance, photo damage and post- inflammatory hyper-pigmentation in all skin types. 