extends ../_layout

block content
  h1
    .container Procedures / Cutera Titan
  .container
    .left-procedures-container
      .about-top( data-waypoint-index=0 )
      h3.p-header( data-waypoint-index=1 ) Titan
      p The Titan technology gives you an all-natural option to enhance skin tone. Titan uses a 
        | safe, infrared light to cause contraction of existing collagen as well as stimulation of 
        | new collagen in the deepest layer of the skin (deep dermis). The contraction of collagen 
        | along with new collagen growth results in decreased skin laxity and wrinkles. 
        | Without surgery, recovery time, or injections, Titan is an ideal solution for 
        | smoothing and tightening your face, abdomen, arms and other parts of the body.
      h3.p-header( data-waypoint-index=2 ) The Titan Procedure
      p During this procedure, the skin’s surface (epidermis) is protected through continuous 
        | cooling. Each Titan pulse begins with cooling and then a brief heating sensation and 
        | ends with cooling again. Many patients have no problem tolerating the procedure, but 
        | some are more comfortable using topical numbing or taking a mild pain reliever 
        | beforehand.  The procedure length depends on the size and number of areas being 
        | treatment.  Most areas take approximately 30-60 minutes to treat, will no significant 
        | downtime afterwards. Immediately after treatment, temporary redness and mild swelling 
        | may occur, but will go away within half an hour.
      h3.p-header( data-waypoint-index=3 ) The Results
      p Although single treatments can produce very good results for many individuals, it is quite 
        | common to have two or three treatments over a few months.  Immediately following the 
        | treatment, you may
      h3.p-header( data-waypoint-index=4 ) Best Candidates
      p This treatment is appropriate for individuals of all ages and skin types with mild to 
        | moderate uneven skin tone and laxity.
    .right-procedure-index
      h3 Cutera Titan
      .index-items
        h4 About the procedure
        h5 Titan
        h5 The Titan Procedure
        h5 The Results
        h5 Best Candidates