extends ../_layout

block content
  .about-top( data-waypoint-index=0 )
  h1
    .container Procedures / Deep Wrinkle Treatment
  .container
    .left-procedures-container
      h3.p-header About the procedure
      p This is the latest non-invasive alternative to injectable fillers. LED and Micro- Ultrasound stimulation are simultaneously integrated to pump out deep lines and wrinkles. Perfect for treating frown lines and crow’s feet.