extends ../_layout

block content
  h1
    .container Procedures / Dermaplaninging
  .container
    .left-procedures-container
      .about-top( data-waypoint-index=0 )
      h3.p-header( data-waypoint-index=1 ) About the procedure
      p This advanced facial resurfacing technique renews and enhances skin tone and texture while reducing the appearance of fine lines and wrinkles.  Using a medical-grade surgical blade, our licensed aesthetician gently and safely scrapes away outer layers of dead skin cells and fine hair to reveal the radiant and healthy epidermal layers beneath.  This non-invasive, no downtime treatment stimulates collagen production, promotes long term cell turn over, and allows skincare products to penetrate deep into the skin for maximum rejuvenation.   When used in conjunction with our advanced chemical peel program, Dermaplaning is highly effective in treating hyper pigmentation, mild acne scars and enlarged pores.
      h3.p-header( data-waypoint-index=1 ) Quick Facts!
      p 
        strong Did you know?
      p Dermaplaning is the perfect pre-photo shoot treatment!  By removing excess layers of dirt, hair and oil, this exfoliating technique prepares skin for smooth and flawless make-up application, delivering hi-res radiance and natural glow.
      p 
        strong It's a Myth!
      p Don't worry! Dermaplaning does not cause facial hair to grow back darker or thicker.  Hairs will grow back at the same rate and texture as they did prior to treatment