extends ../_layout

block content
  .about-top( data-waypoint-index=0 )
  h1
    .container Procedures / Fractora
  .container
    .left-procedures-container
      h3.p-header About the procedure
      p Fractora is a state-of-the-art anti-aging treatment which uses fractional radio frequency technology to ablate and resurface the skin and improve the tone and texture for a more youthful and radiant look. Fractora can treat a wide array of aging symptoms including fine lines, deep wrinkles, poor texture, blood vessels, redness, and pigment irregularities like brown spots. Treating such a broad range of symptoms would traditionally require a multi-treatment approach but can now be achieved with one modality. Fractora is commonly used to treat the upper and lower eyelids, cheeks, mouth, neck, and other areas of the body.
      p During treatment, the radiofrequency energy is applied to the treatment area where it promotes the production of new collagen, thus rejuvenating the skin for an improved appearance. There is minimal discomfort and downtime. Because Fractora treats the area fractionally rather than ablating the entire area, healing is faster and patients are able to return to their normal routine sooner.