extends ../_layout

block content
  h1
    .container Procedures / Gentle Renewal Facial
  .container
    .left-procedures-container
      .about-top( data-waypoint-index=0 )
      h3.p-header( data-waypoint-index=1 ) About the procedure
      p This soothing facial works to gently clean and calm irritated, inflamed, and/or problematic 
        | skin. This treatment will help ease away redness and inflammation caused by skin 
        | sensitivities, breakouts, stress, and other irritants. A powerful solution of healing 
        | nutrients will bring balance back to your skin.