extends ../_layout

block content
  .about-top( data-waypoint-index=0 )
  h1
    .container Procedures / 24kt Gold Facial
  .procedures-slide-show-container
    .container
      ul.slide-show
        li.active
          .img-container
            img.large( src='/images/procedures/gold-facial/gold-mask.jpg' )
  .container
    .left-procedures-container
      h3.p-header( data-waypoint-index=1 ) About the procedure
      p This decadent and effective facial sources natures secret anti-aging agent, pure 
        | 24 kt gold, to rejuvenate and brighten dull and aging skin. When applied to the skin, 
        | 24-karat gold reduces the appearance of wrinkles and fine lines by improving blood 
        | circulation and enhancing skin elasticity. The gold elements also work to facilitate 
        | the removal of toxins and quicken cell regeneration.