extends ../_layout

block content
  .about-top( data-waypoint-index=0 )
  h1
    .container Procedures / Hand Rejuvenation
  .container
    .left-procedures-container
      h3.p-header About the procedure
      p During this individualized treatment, laser energy, in conjunction with a special blend of emollients and chemicals, are applied to the skin, causing age spots to disappear while making tissue appear less transparent. The safe combinations of chemicals used are available in a variety of forms that can be used to produce a separation and peeling of the outer layers of the skin. The new skin beneath is more smooth, with reduced fine lines, wrinkles, spots and sun damage.  