extends ../_layout

block content
  h1
    .container Procedures / HydraFacial
  .procedures-slide-show-container
    .container
      ul.slide-show
        for val, i in new Array(3)
          li( class=i == 0 ? 'active' : '' )
            .img-container
              img( src='/images/procedures/hydrafacial/before-after/#{i + 1}.jpg' )
              .before-caption Before
              .after-caption After
      ul.slide-show-dots
        for val, i in new Array(3)
          li( class=i == 0 ? 'active' : '' )
      .slide-show-arrow-left
      .slide-show-arrow-right
  .container
    .left-procedures-container
      .about-top( data-waypoint-index=0 )
      h3.p-header( data-waypoint-index=1 ) About the procedure
      p The Hydrafacial treatment merges soothing and invigorating spa therapies with advanced 
        | medical to technology to achieve instant, lasting results.  This facial is appropriate 
        | for all skin types, has no downtime or discomfort, and targets specific skin concerns '
        | with immediate results. 
      h3.p-header( data-waypoint-index=2 ) The Vortex-Fusion Technology
      p Each treatment uses a series of patented HydroPeel tips—Each one has multiple abrasive 
        | edges to exfoliate the skin several times each pass, achieving better, more even results. 
        | The unique spiral design creates a vortex effect to easily dislodge and remove impurities 
        | while simultaneously introducing hydrating skin solutions and potent antioxidants.
      h3.p-header( data-waypoint-index=3 ) The Process
      p The treatment begins with a deep cleansing and gentle exfoliation to remove dead skin cells. 
        | A gentle peel is then applied to help loosen dirt and debris from pores without irritation. 
        | Painless, automated extractions use vortex suction to clean out pores. 
        | At the end of the treatment, Antioxidants and Hyaluronic Acid are Vortex-Fused to 
        | nourish, deeply hydrate, and protect your skin.
    .right-procedure-index
      h3 HydraFacial
      .index-items
        h4 About the procedure
        h5 The Vortex-Fusion Technology
        h5 The Process