extends ../_layout

block content
  h1
    .container Procedures / JTav Anti- aging Facial
  .container
    .left-procedures-container
      .about-top( data-waypoint-index=0 )
      h3.p-header( data-waypoint-index=1 ) About the procedure
      p Joie Tavernise specially designed this facial to help prevent, treat, and protect the 
        | dermis from signs of aging. The treatment begins with a light exfoliation to remove 
        | superficial impurities and aid in cell turnover, leaving your skin with a luminous glow. 
        | The treatment will be completed with a luxurious LED photo light therapy that eliminates 
        | bacteria build up, stimulates collagen growth, and promotes healing. 