extends ../_layout

block content
  .about-top( data-waypoint-index=0 )
  h1
    .container Procedures / Laser Vein Therapy for the Face and Body
  .container
    .left-procedures-container
      h3.p-header About the procedure
      p Vein obligation after cutera coolglide can safely and effectively treat veins from all parts of the body. Small facial veins can be treated quickly. Spider veins and leg veins can be treated on men and women of all skin tones.