extends ../_layout

block content
  .about-top( data-waypoint-index=0 )
  h1
    .container Procedures / Medical Facial
  .container
    .left-procedures-container
      h3.p-header( data-waypoint-index=1 ) About the procedure
      p This clinically customized treatment consists of a unique face and body regimen that 
        | revives more than just the superficial layers of the dermis. The skin is effectively 
        | cleansed with light exfoliation to remove deeply embedded impurities. The treatment 
        | continues acupressure and Reiki massage of the neck, shoulders and face, to promote 
        | waste removal and balance throughout the body. All methods and solutions used during 
        | treatment are clinically formulated, natural, and organic.  