small.note
  background-image url('/images/diamond.png') !important
  
hr.ornate-divider::after
  background-image url('/images/ornate.jpg') !important
  
header#main-header nav a::after
  background-image url('/images/diamond.png') !important

#logo
  background-image url('/images/logo.png') !important

#social-media
  for network in 'twitter' 'facebook' 'linked-in'
    .{network}
      background url("/images/" + network + ".png") no-repeat right bottom  !important
      
#main-slideshow-dots li
  background-image url('/images/diamond-slideshow.png') !important
  
ul.slide-show-dots li
  background-image url('/images/diamond-slideshow-w.png') !important
  
.slide-show-arrow-left
  background-image url('/images/procedures/arrow-left.png') !important

.slide-show-arrow-right
  background-image url('/images/procedures/arrow-right.png') !important