// 
// Contact page
// 

@import 'base'


.left-contact-info
  margin 30px 67px 0 0
  float left
  p
    font-size 17px
    
ul.hours
  font-size 13px
  li
    clearfix()
  .day, .hrs
    float left
  .day
    width 90px
  small
    display block
    margin-top 10px
    font-style italic
  
#contact-gmaps
  float right
  margin-top 30px
  width 700px
  height 400px
  background #f2f2f2