extends _layout

block content
  h1
    .container Contact
  .container
    .left-contact-info
      p 905 Fifth Avenue, Suite 1C
        br
        | New York, NY 10021
      P P: 212-755-1155
        br
        | E: 
        a( href='mailto:jt@youngskinforever.com' ) jt@youngskinforever.com
      ul.hours
        li 
          .day Monday: 
          .hrs 9:30am - 5:00pm
        li 
          .day Tuesday: 
          .hrs 9:30am - 7:00pm
        li 
          .day Wendsday:
          .hrs 9:30am - 5:00pm
        li 
          .day Thursday:
          .hrs 9:30am - 5:00pm
        li 
          .day Friday:
          .hrs 9:30am - 5:00pm
        li 
          .day Saturday:
          .hrs 11:00am - 5:00pm
        li 
          .day Sunday:
          .hrs Closed
        small * By Appointment Only
    #contact-gmaps
    