extends _layout

block content
  ul#main-slideshow.slide-show
    li.main.active
      .container
        p Restore & maintain your youthful appearance at 
          strong JTav Clinical Skin Care 
          | with our state of the art equipment and anti-aging products.
    li.ultherapy
      .container
        p 
          strong Ulthera 
          | works deep below the covering blanket of skin - delivering droplets of precise energy to stimulate collagen renewal - to rejuvenate the face.
          br
          a.read-more( href='procedures/ultherapy.html') Read more
    li.led-treatment
      .container
        p 
          strong LightStim LED Treatment 
          | enhances the benefits of skin care by facilitating deeper absorption of ingredients 
          | known to hydrate, nourish and repair the skin.
          br
          a.read-more( href='procedures/led-light-therapy.html') Read more
    li.solo-girl
      .container
        p Joie writes as a beauty expert for 
          strong Solo Girl Travel
          | , a source of information and inspiration for wanderlustful women.
          br
          a.read-more( href='http://www.sologirltravel.com/the-beginning-of-a-beautiful-friendship/', target='_blank' )
            | Read Joie's posts on Solo Girl Travel
  .container
    #main-slideshow-dots
      ul.slide-show-dots
        li.active
        li
        li
        li
    .left-half-col
      .home-about
        h2 About Joie Tavernise
        hr.ornate-divider
        img( src='/images/home/about.jpg' )
        p Celebrities, models and style setters trust their looks to skin care specialist 
          | Joie Tavernise. Treat yourself to Joie's world class expertise at JTav Skin Care & 
          | Laser Center.
          br
          a( href='about.html' ) Read more about Joie
          br
        .solo-girl
          a( href='http://www.sologirltravel.com/the-beginning-of-a-beautiful-friendship/', target='_blank' )
            img( src='/images/home/solo-girl.jpg' )
          p Joie writes as a beauty expert for 
            em Solo Girl Travel
            | , a source of information and inspiration for wanderlustful women.
            br
            a( href='http://www.sologirltravel.com/the-beginning-of-a-beautiful-friendship/', target='_blank' )
              | Read Joie's posts on Solo Girl Travel
      .packages-available
        h2 Packages Available
        hr.ornate-divider
        p With any permanent hair reduction program, you will invariably need a course of 
          | at least six treatments; four to six weeks apart for your face and six to eight 
          | weeks apart for your body. All Laser Hair Removal treatments require a consultation 
          | and test patch to be carried out at least 24 hours prior to commencing treatment. 
          | This still applies if you have had the treatment elsewhere.
      .contact-us
        h2 Contact Us
        hr.ornate-divider
        #home-gmaps
        strong JTav Clinical Skin Care
        p 905 Fifth Avenue, Suite 1C
        p New York, NY 10021
        P P: 212-755-1155
        P E: 
          a( href='mailto:jt@jtavclinicalskincare.com ' ) jt@jtavclinicalskincare.com 
    .right-half-col
      h2 Featured Procedures
      hr.ornate-divider
      ul.featured-procedures
        li
          a.name( href='procedures/ultherapy.html' ) Ultherapy
          p Ulthera is the first focused ultrasound skin toning technology. 
            | It is a non-surgical ultrasound treatment for counteracting the 
            | effects of time and gravity.
            br
            a.read-more( href='procedures/ultherapy.html' ) Read more
        li
          a.name( href='procedures/led-light-therapy.html' ) LED Light Therapy
          p LED is a non-invasive approach to working with light, resulting in skin rejuvenation. 
            | This treatment is effective in the removal of brown spots, broken capillaries, 
            | spider veins and facial redness.
            br
            a.read-more( href='procedures/led-light-therapy.html' ) Read more
        li
          a.name( href='procedures/cutera-titan.html' ) Titan Skin Tightening
          p The Titan gives you an all natural option to enhance skin tone and stimulate collagen 
            | leaving your skin tighter and smoother. For the serious candidate who wants to 
            | reverse the signs of aging skin through non-surgical means.
            br
            a.read-more( href='procedures/cutera-titan.html' ) Read more
        li
          a.name( href='procedures/hydra-facial.html' ) Hydrafacial
          p Hydra Facial is the newest advancement in facial treatments. Hydration is the 
            | essence of beautiful skin. This 4 step facial cleanses, extracts sebum and
            | impurities.'
            br
            a.read-more( href='procedures/hydra-facial.html' ) Read more