extends _layout

block content
  h1
    .container Press / Testomonials
  .container
    p
      h6 Get a glimpse of our Up-and-Coming Fast Trackers of New York who impress and inspire us.
    p Who are the fabulous up-and-coming people to watch? Who are the fast trackers? You are! Talented and accomplished Entrepreneurs, Presidents, Entertainers, Artists, Consultants, Assistants, Associate Heads, Doctors, Athletes, Lawyers, and MANY other outstanding leaders.
    p The fast track should NEVER leave tread marks on your face. Maintaining that refreshed, youthful look and prolonging or even preventing plastic surgery is virtually a part of every lifestyle. Our exquisite pampering techniques and state-of-the art non-surgical treatments do just that.
    p It takes strength, courage, resilience and self-awareness to accomplish your dreams. It takes us to give you Young Skin For Ever.
    .testomonials
      ul
        li.testomonial
          .testomonial-left
            img( src='/images/testomonials/1.jpg' )
          .testomonial-right
            p.quote JTav and her team are absolutely amazing! Really Brilliant! I can’t imagine life without my treatments and visits.
            .testomonial-name Nicole A. Fier
            small Brownstone Mokey Productions
        li.press
          .press-left
            img( src='/images/press/1.jpg' )
          .press-right
            .press-title Spanish People Magazine
  .celeb-divider
    hr.ornate-divider
    p Joie Tavernise has worked with celebrities clientele from TV shoots to facial services to photo shoots.
    ul.celebs.container
      li Alicia Silverstone
      li Maggie Gyllenhal
      li Ali Larter
      li Karolina Kurkova
      li Anne Hathaway
      li Laura Soarez
      li Jean Baptiste
      li James Earl Jones