html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
@font-face {
  font-family: 'Derivia';
  font-weight: normal;
  font-style: normal;
  src: url("/fonts/derivia.eot?#iefix") format("embedded-opentype");
}
@font-face {
  font-family: 'Derivia';
  font-weight: normal;
  font-style: normal;
  src: url("/fonts/derivia.woff") format("woff"), url("/fonts/derivia.ttf") format("truetype"), url("/fonts/derivia.svg") format("svg");
}
html,
body {
  min-height: 100%;
  background: #000;
}
body {
  padding-top: 100px;
  background: #fff;
}
body,
p {
  font-family: 'Helvetica', 'sans-serif';
  line-height: 1.8em;
  font-size: 15px;
  color: #222;
}
p {
  margin-bottom: 1em;
}
a {
  color: #000;
  text-decoration: none;
  border-bottom: 1px solid;
}
em {
  font-style: italic;
}
strong {
  font-weight: bold;
}
h1 {
  font-family: 'Derivia', 'Georgia', 'serif';
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 3px;
  background-color: #333;
  color: #fff;
  padding: 20px 0 15px 0;
  font-size: 24px;
}
h2,
h3,
h4 {
  font-family: 'Derivia', 'Georgia', 'serif';
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 3px;
  font-weight: bold;
  color: #000;
  text-align: center;
  margin: 40px 0;
  font-size: 24px;
}
h3 {
  font-size: 17px;
  text-align: left;
}
h3.p-header {
  font-size: 20px;
  margin-bottom: 10px;
}
h4 {
  font-size: 14px;
  text-align: left;
  letter-spacing: 1px;
  margin: 1em 0 0 0;
}
h6 {
  font-size: 18px;
  font-weight: bold;
  margin: 20px 0;
  display: block;
}
small.note {
  font-style: italic;
  background: left center no-repeat;
  padding-left: 20px;
}
.container {
  width: 1080px;
  margin: auto;
  zoom: 1;
}
.container:before,
.container:after {
  content: "";
  display: table;
}
.container:after {
  clear: both;
}
.left-half-col,
.right-half-col {
  width: 510px;
}
.left-half-col h2,
.right-half-col h2 {
  font-size: 20px;
}
.left-half-col {
  float: left;
}
.right-half-col {
  float: right;
}
hr.ornate-divider {
  background: none;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 40px 0 10px 0;
  text-align: center;
}
hr.ornate-divider::after {
  content: '.';
  color: transparent;
  position: relative;
  top: -22px;
  z-index: 2;
  width: 120px;
  height: 30px;
  display: inline-block;
  background: #fff no-repeat center center;
}
body.moz hr.ornate-divider {
  margin: 40px 0;
}
header#main-header {
  background-color: #000;
  color: #fff;
  height: 90px;
  padding: 5px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
}
header#main-header nav {
  float: right;
  padding-top: 37px;
}
header#main-header nav a {
  color: #ccc;
  font-family: 'Derivia', 'Georgia', 'serif';
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 3px;
  border-bottom: 0;
  cursor: pointer;
}
header#main-header nav a.active,
header#main-header nav a:hover {
  color: #fff;
}
header#main-header nav a:last-child {
  margin-right: 0;
}
header#main-header nav a:last-child::after {
  display: none;
}
header#main-header nav a::after {
  content: '.';
  color: transparent;
  width: 7px;
  height: 8px;
  margin: 0 20px 3px 20px;
  display: inline-block;
}
body.moz header#main-header nav a::after {
  position: relative;
  top: 8px;
}
body.msie header#main-header nav {
  float: none;
  text-align: right;
}
body.msie header#main-header nav a {
  margin-left: 20px;
}
#logo {
  width: 145px;
  height: 90px;
  margin-right: 20px;
  float: left;
}
#contact-info {
  font-size: 12px;
  float: right;
  padding: 6px 0;
  line-height: 1em;
}
#contact-info a,
#contact-info span {
  color: #6a6a6a;
  margin-right: 30px;
  border-bottom: 0;
}
#contact-info a:last-child,
#contact-info span:last-child {
  margin-right: 10px;
}
#contact-info .contact {
  float: left;
  padding-top: 4px;
}
#contact-info a:hover {
  border-bottom: 1px solid;
}
#social-media {
  float: right;
}
#social-media li {
  float: left;
}
#social-media a {
  width: 20px;
  height: 20px;
  display: block;
  margin-left: 15px;
  position: relative;
  top: -5px;
  opacity: 0.8;
  filter: alpha(opacity=80);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
#social-media a:hover {
  border-bottom: 0;
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
#procedures-list {
  display: none;
}
.procedures-list-container {
  -webkit-font-smoothing: anti-aliased;
  -moz-font-smoothing: anti-aliased;
  -o-font-smoothing: anti-aliased;
  -ms-font-smoothing: anti-aliased;
  font-smoothing: anti-aliased;
  padding: 20px 0 40px 0;
  background: #333;
  line-height: 2.2em;
  margin-top: -1px;
}
.procedures-list-container ul > ul {
  width: 255px;
  margin-right: 20px;
  float: left;
}
.procedures-list-container ul > ul:last-child {
  margin-right: 0;
}
.procedures-list-container li a {
  color: #fff;
  border-bottom: 0;
  padding-bottom: 3px;
}
.procedures-list-container li a:hover {
  border-bottom: 1px solid;
}
.procedures-list-container lh {
  font-weight: bold;
  color: #aaa;
  font-size: 13px;
  line-height: 1.4em;
  display: block;
  margin-bottom: 10px;
}
body.moz .procedures-list-container {
  margin-top: -3px;
}
body.msie .procedures-list-container ul > ul {
  margin-right: 10px;
}
#main_container {
  zoom: 1;
}
#main_container:before,
#main_container:after {
  content: "";
  display: table;
}
#main_container:after {
  clear: both;
}
footer {
  clear: both;
  background: #000;
  padding: 20px 0;
  width: 100%;
  margin-top: 200px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
footer .contact {
  text-align: center;
  font-size: 13px;
}
footer .contact a,
footer .contact span {
  margin-right: 20px;
  color: #6a6a6a;
}
footer .contact a:last-child,
footer .contact span:last-child {
  margin-right: 60px;
}
