ul.press-row {
  margin-bottom: 60px;
  zoom: 1;
}
ul.press-row:before,
ul.press-row:after {
  content: "";
  display: table;
}
ul.press-row:after {
  clear: both;
}
li.testomonial p.quote {
  font-size: 18px;
  font-style: italic;
}
li.testomonial .testomonial-left {
  float: left;
}
li.testomonial .testomonial-left img {
  -webkit-border-radius: 50px;
  border-radius: 50px;
  width: 90px;
}
li.testomonial .testomonial-right {
  float: right;
  width: 370px;
}
li.testomonial .testomonial-name {
  font-family: 'Derivia', 'Georgia', 'serif';
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 3px;
  text-align: right;
  font-size: 16px;
}
li.testomonial small {
  font-size: 11px;
  color: #777;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: right;
  display: block;
}
.testomonials {
  margin-top: 60px;
  zoom: 1;
}
.testomonials:before,
.testomonials:after {
  content: "";
  display: table;
}
.testomonials:after {
  clear: both;
}
.press-left {
  width: 180px;
  float: left;
}
.press-left img {
  width: 100%;
}
li.testomonial,
li.press {
  width: 500px;
  float: left;
  zoom: 1;
}
li.testomonial:before,
li.press:before,
li.testomonial:after,
li.press:after {
  content: "";
  display: table;
}
li.testomonial:after,
li.press:after {
  clear: both;
}
li.testomonial:nth-child(2n+2),
li.press:nth-child(2n+2) {
  margin-left: 80px;
}
.press-left {
  margin-right: 30px;
}
.press-title {
  font-family: 'Derivia', 'Georgia', 'serif';
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 3px;
  font-size: 16px;
}
.press-body {
  font-style: italic;
  font-size: 13px;
}
.celeb-divider {
  clear: both;
  margin-bottom: 100px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
}
.celeb-divider p {
  text-align: center;
  font-size: 13px;
  color: #777;
}
.celeb-divider ul.celebs {
  line-height: 2em;
  font-family: 'Derivia', 'Georgia', 'serif';
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 3px;
  zoom: 1;
}
.celeb-divider ul.celebs:before,
.celeb-divider ul.celebs:after {
  content: "";
  display: table;
}
.celeb-divider ul.celebs:after {
  clear: both;
}
.celeb-divider ul.celebs li {
  float: left;
  text-align: center;
  width: 270px;
  font-size: 16px;
}
