.left-procedures-container {
  width: 720px;
  padding-right: 40px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}
.right-procedure-index {
  float: right;
  padding-top: 40px;
}
.right-procedure-index h3,
.right-procedure-index .index-items {
  padding-left: 20px;
}
.right-procedure-index h3 {
  margin: 0 0 10px 0;
}
.right-procedure-index .index-items {
  border-left: 1px solid #ccc;
  font-size: 14px;
  color: #777;
}
.right-procedure-index h4,
.right-procedure-index h5 {
  cursor: pointer;
}
.right-procedure-index h4:hover,
.right-procedure-index h5:hover {
  text-decoration: underline;
}
.right-procedure-index h4.highlight,
.right-procedure-index h5.highlight {
  color: #000;
}
.procedures-h2 {
  margin-top: 70px;
}
ul.instructions li {
  margin: 1em 0;
}
.procedures-slide-show-container {
  background: #000;
  text-align: center;
}
.procedures-slide-show-container .container {
  position: relative;
  padding: 20px 0;
}
.procedures-slide-show-container ul.slide-show li {
  margin-bottom: 20px;
  display: none;
}
.procedures-slide-show-container ul.slide-show li.active {
  display: block;
}
.procedures-slide-show-container ul.slide-show li .img-container {
  display: inline-block;
  zoom: 1;
}
.procedures-slide-show-container ul.slide-show li .img-container:before,
.procedures-slide-show-container ul.slide-show li .img-container:after {
  content: "";
  display: table;
}
.procedures-slide-show-container ul.slide-show li .img-container:after {
  clear: both;
}
.procedures-slide-show-container ul.slide-show li .img-container img {
  display: block;
  height: 300px;
  margin: auto;
}
.procedures-slide-show-container ul.slide-show li .img-container img.large {
  height: 400px;
}
.procedures-slide-show-container ul.slide-show li .img-container .before-caption,
.procedures-slide-show-container ul.slide-show li .img-container .after-caption,
.procedures-slide-show-container ul.slide-show li .img-container .caption {
  color: #777;
  width: 50%;
  float: left;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 14px;
}
.procedures-slide-show-container ul.slide-show li .img-container .caption {
  width: 100%;
}
.procedures-slide-show-container ul.slide-show-dots {
  display: inline-block;
  zoom: 1;
}
.procedures-slide-show-container ul.slide-show-dots:before,
.procedures-slide-show-container ul.slide-show-dots:after {
  content: "";
  display: table;
}
.procedures-slide-show-container ul.slide-show-dots:after {
  clear: both;
}
.procedures-slide-show-container ul.slide-show-dots li {
  width: 16px;
  height: 16px;
  float: left;
  margin-right: 10px;
  background: no-repeat center center;
  opacity: 0.2;
  filter: alpha(opacity=20);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  cursor: pointer;
}
.procedures-slide-show-container ul.slide-show-dots li.active {
  opacity: 0.8;
  filter: alpha(opacity=80);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}
.procedures-slide-show-container ul.slide-show-dots li:hover:not(.active) {
  opacity: 0.5;
  filter: alpha(opacity=50);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}
.procedures-slide-show-container .slide-show-arrow-left,
.procedures-slide-show-container .slide-show-arrow-right {
  position: absolute;
  height: 100%;
  top: 0;
  width: 100px;
  background: #eee;
  cursor: pointer;
  opacity: 0.2;
  filter: alpha(opacity=20);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.procedures-slide-show-container .slide-show-arrow-left:hover,
.procedures-slide-show-container .slide-show-arrow-right:hover {
  opacity: 0.6;
  filter: alpha(opacity=60);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
}
.procedures-slide-show-container .slide-show-arrow-left {
  left: 0;
  background: no-repeat left center;
}
.procedures-slide-show-container .slide-show-arrow-right {
  right: 0;
  background: no-repeat right center;
}
